@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  background: url("background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.bg {
  position: absolute;
  z-index: -1;
  height: 125vh;
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255,0) 30%,rgba(255,255,255,1) 90%);
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    background: url("background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }

  .bg {
    position: fixed;
    z-index: -1;
    height: 125vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0) 30%,rgba(255,255,255,1) 90%);
  }
}
